.about-me-inside{
     width: 70%;
     margin-inline:auto;
  
}

lottie-player{
     width:500px;
     height: 500px;
 }

.text-about-me-container .pa {
     font-size: 1.4rem;
     text-align: justify;
     padding: 10px;
}
.highlights{
     font-family: "Ubuntu";
     padding-block: 10px;
     margin-top: -10px;
}

.about-me-section  .highlights-text{
     font-weight: 400;
     font-size: 1.3rem;
     opacity: 0.8;
     text-align: justify;
}
.highlights-list{
     font-size: 1.2rem;
     opacity: 0.7;
}
.another-hightlights{
     font-family: "Ubuntu";
     font-weight: 400;
     font-size: 1rem;
     opacity: 0.8;  
     text-align: justify;
     margin-bottom: 5px;
}

.anoter-hightlights-list{
     font-size: 1rem;
     opacity: 0.5;  
     
}



/***responsive ***/

@media all and (max-width: 786px) {
     .about-me-inside{
          width: 100%;
          margin-inline:auto;
     }
     lottie-player{
          width:300px;
          height: 300px;
      }

     .text-about-me-container .pa {
          font-size: 1.1rem;
          padding: 20px;
     }

     .pa{
          margin: 0;
     }
     .highlights{
          padding-block: 10px;
          margin-top: -10px;
          padding-inline: 20px;
     }

     .about-me-section  .highlights-text{
          font-size: 1.1rem;
     }
     .highlights-list{
          font-size: 1rem;
          opacity: 0.7;
     }     
}