@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

:root{
  --primary-app-color: #0084ff;
  --secondary-app-color: #8ac6ff;
  --nav-color:white;
  --name-color:#ffefaa;
}

*{
  padding: 0;
  margin: 0; 
}

.bg-nav{
  background: linear-gradient(
    90deg, 
    var(--primary-app-color),
    var(--secondary-app-color));
}

.herosection{
  background: linear-gradient(
    90deg, 
    var(--primary-app-color),
    var(--secondary-app-color));
    clip-path: polygon(100% 0, 100% 71%, 50% 100%, 0 71%, 0 0);
}
.herosection nav{
  width: 95%;
}

.nav-desk{
  position:fixed;
  width: 100%;
  z-index: 50;
}

.nav-items{
  cursor: pointer; 
  color:var(--nav-color); 
  font-size: 1.3rem;
  font-family: "Ubuntu";  
}

.me{
  font-family: "Oswald";
  color:var(--nav-color);
  font-size: 2rem;

}

.px-10{
  padding-inline:100px;
}

.second-herosection{
  padding: 70px;
}

.about-me-info{
  padding:50px;
  text-align: center;
}
.about-me-text{
  color: white; 
  font-family: "Ubuntu";
  font-size: 1.4rem; 
  font-weight: 700;
}

.about-me-name{
  color: var(--name-color); 
  font-size: 1.6rem;
}

.about-me-devfs , .about-me-sub{
  color:white;
  font-family: "Open Sans";
}
.about-me-devfs{
  font-size: 1.43rem;
}
.about-me-name{
  font-size: 1.4rem;
}

.get-resume{
  width: 130px;
  color:var(--name-color);
  background: transparent;
  font-family: "Ubuntu";
  font-size: 1.2rem; 
  outline: none;
  border:0.5px solid white;
  border-radius: 20px;
  padding: 5px 10px;
  margin-inline:0px; 
  transition: all 0.3s ease-in;
  animation: get-resume-animation 1s ease-in infinite;
}

.get-resume:hover{
  color: white;
  border: none;
  font-weight: 800;
  background: var(--name-color);
  transform:translateY(-3px)
}

@keyframes get-resume-animation {
  0%{
    transform: scale(1);
  }  
  50%{
    transform: scale(1.03);
  }
  100%{
    transform: scale(1);
  }
}

.my-img{
  border-radius: 50%;
  object-fit: contain;
  width: 300px;
  height: 300px;
  padding-inline:0;
  padding-bottom: 2px;
  border: 1px solid white;
}


/*****contact******/ 
.contact{
  padding: 0;
  margin: 0;
}
.contact-me-part{
  color: white;
}

.relative-bg{
  clip-path: polygon(0 14%, 100% 23%, 100% 96%, 0% 100%);
  background: linear-gradient(-90deg,rgba(221, 107, 107, 0.904), var(--primary-app-color));
  height: 80%;
  width: 100%;
  position:absolute;
  z-index: -10; 
}
.contact-inner-part{
  padding-block: 158px;
}
.flex-rows {
  flex-direction:row;
  justify-content: space-between;
}

.navbar-option-mobile{
  display: none;
}
.responsive-img-img{
  display: none;
}

a{
  text-decoration: none;
}
/****mobile view***/

@media all and (max-width: 786px) { 
  /* your content here */ 
  .navbar-option-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding-block: auto;
    width: 100%;
    height: 60px;
    position:fixed; 
    border-bottom: 0.5px solid rgb(99, 99, 209);;
    background: linear-gradient(
      90deg, 
      var(--primary-app-color),
      var(--secondary-app-color));
    z-index: 30;
  }
  .navbar-option-mobile .e:nth-child(1){

    justify-self: flex-start;
  }

  .navbar-option-mobile .e:nth-child(2){

    justify-self: flex-end;
  }
  .flex-rows {
    flex-direction:column;
    justify-content: start;
    
  }  
  .navbar-new{
    position: fixed;
    height: 100vh;
    width: 60%;
    z-index: 20;
    transform: translateX(-700px);
  }

  .navbar-fixed-new{
    position: fixed;
    height: 100vh;
    width: 30vh;
    z-index: 20;
  }

.transition-all{
  transition:  all 0.3s ease-in-out;
}

  .px-9{
    padding-inline: 0;
  }
  .px-10{
    padding-inline: 10px;
  }
  .nav-items{
    padding-block: 20px;
  }
  .me{
    font-size: 1.4rem;
    padding-inline: 22px;
  }
  .bars{
    height: 4px;
    width: 30px;
    margin-right: 10px;
    background: white !important;
    position: relative;
  }

  .bars::before{
    display: block;
    position: relative; 
    left:0;
    top:-8px;
    content:"";
    color: white;
    background: rgb(255, 255, 255) !important;
    height: 4px;
    width: 30px;
    z-index: 51;

  }
  .bars::after{
    display: block;
    position: relative; 
    bottom: -4px;
    content:"";
    background: white !important;
    color: white;
    height: 4px;
    width: 30px;

  }

  .herosection{      
      margin: 0;
      padding: 0;
      width: 100%;
  }

  .second-herosection{
    padding:0;
    margin:0;
    margin-block: 30px
  }

  .px-10{
    padding-inline: 5px;
  }

  .about-me-info{
    padding: 10px;
    padding-top:20px;
  }
  .about-me-text{
    font-size: 1.2rem;
    font-weight: 500;
  }
  .about-me-name{
    font-size: 1.2rem;
  }
  .about-me-devfs{
    font-size: 1.5rem;
  }
  .my-img{
    display: none;
  }
  .responsive-img-img{
    display:inherit;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}