.progress-some{
    background: rgb(238, 150, 150);
    border-radius: 10px;
    height: 10px;
    width: 250px;
}

.progress-new{
    background-color: rgb(65, 199, 243);
    border-radius: 10px;
    height: 10px;
}

.skills{
    color: black;
}
.skills-category{
    color:black;
    font-weight: 100;
    font-size: 0.2rem;
}

.skills-container{
    padding: 0;
    margin: 10px;
}

/****/
.marker > div {
    padding: 0 3px;
    margin-top: -0.8em;
    border-radius: 10px;    

}
.box-title {
    background: white none repeat scroll 0 0;
    display: inline-block;
    padding: 0px;
    margin-left: 1em;
    color: rgb(65, 199, 243);  
    border: none;
    font-size: 0.8rem;
    font-weight: 500;
}

.box-content{
    border: 1px solid rgb(65, 199, 243);
    padding: 100
}


.skills-box{
    padding-inline:10px;
    padding-block: 5px;
    color: rgb(94, 93, 93);
    font-size: 0.8rem;
}